/* Dashboard.css */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f8ff; /* Light blue background */
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: 
        url('Images/books10.webp') no-repeat right center, /* Right side background image */
        url('Images/books10.webp') no-repeat left center, /* Left side background image */
        #f0f8ff; /* Background color */
    background-size: 30%; /* Slightly larger background image */
    background-blend-mode: multiply; /* Blend the images with background color */
}

.db-content {
    background: rgba(255, 255, 255, 0.8); /* White background with transparency */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
}

.db-text {
    font-size: 3em;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.db-description {
    font-size: 1.5em;
    font-weight: 300;
    color: #666;
}

.db-image {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background: url('Images/books4.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    animation: rotate 20s infinite linear;
}

.db1-image {
    margin-top: 40px; /* Adjust margin as needed */
    width: 200px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    background: url('Images/books5.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 30px;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes rotateReverse {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}
